/*Views*/
/*Generales*/
/*Variables para header*/
.background__container__liquidity {
  background-color: #ffffb8; }

.background__container__exchange {
  background-color: #faeded; }

.background__container__home {
  background-image: url(../img/fondo-index-noche.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.home__gameboy {
  left: 15.25%;
  top: 3%;
  position: absolute;
  width: 69.5%; }

/* codigo carrusel de w3school*/
.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  /* Next & previous buttons */ }
  .slideshow-container .screen {
    width: 30%;
    margin-top: 12.5%;
    margin-left: 34.5%;
    border-radius: 1rem;
    border: solid black 6px; }
  .slideshow-container .arrow {
    cursor: pointer;
    position: absolute;
    color: #828282;
    background-color: #828282;
    left: 24%;
    top: 62.5%;
    border: none;
    text-decoration: none; }
    .slideshow-container .arrow:hover {
      color: #444444;
      background-color: #444444; }
  .slideshow-container .up {
    top: 55.5%;
    padding: 0.6% 1%;
    border-radius: 15% 15% 0 0;
    border-bottom: none;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black; }
  .slideshow-container .down {
    padding: 0.6% 1%;
    top: 69.5%;
    border-radius: 0 0 15% 15%;
    border-bottom: solid 1.5px black;
    border-top: none;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black; }
  .slideshow-container .next {
    padding: 0.6% 1.2% 0.6% 1%;
    left: 26%;
    border-radius: 0 15% 15% 0;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: none;
    border-right: solid 1.5px black; }
  .slideshow-container .prev {
    padding: 0.6% 1%;
    left: 22%;
    border-radius: 15% 0 0 15%;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: none; }
  .slideshow-container .enter {
    padding: 0.7% 1%; }
    .slideshow-container .enter:hover {
      color: #828282;
      background-color: #828282; }
  .slideshow-container .button__ab {
    background-color: #828282;
    border-radius: 50%;
    padding: 1.5%;
    text-decoration: none;
    color: #646464;
    position: absolute;
    border: solid 1.5px black; }
    .slideshow-container .button__ab:hover {
      background-color: #646464;
      color: black; }
    .slideshow-container .button__ab__a {
      top: 52%;
      left: 76%; }
    .slideshow-container .button__ab__b {
      top: 62%;
      left: 71%; }

#play, #pause {
  border-radius: 50%;
  position: absolute;
  padding: 0.6%;
  background-color: #828282;
  font-weight: bold; }

#play {
  left: 28.5%;
  top: 92%; }

#pause {
  left: 28.5%;
  top: 105%; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

/*Partials*/
/*Generales*/
/*Variables para header*/
/* Navbar Exchange*/
.exchange__nav {
  background-color: #faf9fa;
  display: flex;
  border-bottom: #e7e3eb solid 1px;
  justify-content: space-between; }
  .exchange__nav__bar {
    display: flex; }
    .exchange__nav__bar__hover:hover {
      background-color: #e1ebe48a;
      border-radius: 1rem;
      cursor: pointer; }
    .exchange__nav__bar__hover {
      padding: 12px; }
      .exchange__nav__bar__hover__link {
        text-decoration: none;
        color: black; }
        .exchange__nav__bar__hover__link__on {
          color: #dc3545;
          font-weight: bold; }
    .exchange__nav__bar__logo {
      text-decoration: none;
      color: black;
      display: flex;
      margin-left: 1rem;
      margin-right: 2.5rem;
      padding: 12px; }
      .exchange__nav__bar__logo__img {
        height: 27px;
        margin-right: 2px; }
      .exchange__nav__bar__logo__pokedex {
        font-weight: bold;
        font-size: 22px;
        font-family: pokemon; }
    .exchange__nav__bar__language {
      margin-top: 13px;
      color: #dc3545;
      margin-right: 15px; }
      .exchange__nav__bar__language:hover {
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer; }
    .exchange__nav__bar__settings {
      margin-top: 13px;
      color: #dc3545;
      margin-right: 5px; }
      .exchange__nav__bar__settings:hover {
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer; }
    .exchange__nav__bar__wallet {
      padding: 12px; }
      .exchange__nav__bar__wallet__button {
        background-color: #dc3545;
        color: #e7e3eb;
        border: none;
        border-radius: 2rem;
        width: 135px;
        cursor: pointer; }
        .exchange__nav__bar__wallet__button:hover {
          opacity: 0.5;
          transition: 0.3s;
          cursor: pointer; }

body header nav div div {
  margin-top: 2px;
  margin-bottom: 2px; }

@font-face {
  font-family: pokemon;
  src: url(../letras/ketchum.otf); }

.exchange__nav__bar__dropdown {
  display: none;
  position: absolute;
  width: 278px;
  border: #e7e3eb solid 1px;
  color: black;
  border-radius: 1rem; }
  .exchange__nav__bar__dropdown__link {
    text-decoration: none;
    color: black; }
  .exchange__nav__bar__dropdown__div__top {
    padding: 10px; }
    .exchange__nav__bar__dropdown__div__top:hover {
      background-color: #e1ebe48a;
      border-radius: 0.8rem 0.8rem 0 0; }
  .exchange__nav__bar__dropdown__div__bot {
    padding: 10px; }
    .exchange__nav__bar__dropdown__div__bot:hover {
      background-color: #e1ebe48a;
      border-radius: 0 0 0.8rem 0.8rem; }

.exchange__nav__bar__trade:hover .exchange__nav__bar__dropdown {
  display: block;
  background-color: #faf9fa; }

.language__dropdown {
  display: none;
  position: absolute;
  background-color: #faf9fa;
  padding: 1rem;
  left: 86%;
  border-radius: 0 0 0.5rem 0.5rem;
  border: #e7e3eb solid 1px; }
  .language__dropdown__text {
    padding: 10px; }
    .language__dropdown__text:hover {
      opacity: 0.5;
      transition: 0.3s;
      cursor: pointer; }

.language:hover .language__dropdown {
  display: block;
  background-color: #faf9fa; }

/*SubNav*/
.exchange__subnav {
  background-color: #faf9fa;
  display: flex;
  border-bottom: #e7e3eb solid 1px;
  justify-content: center;
  margin-top: 33px; }
  .exchange__subnav__h2 {
    padding: 12px 0px 3px 0px;
    margin-left: 10px;
    margin-right: 10px; }
    .exchange__subnav__h2:hover {
      background-color: #e1ebe48a; }
  .exchange__subnav__link {
    text-decoration: none;
    color: black; }
    .exchange__subnav__link__on {
      border-bottom: solid 3px #dc3545;
      color: #dc3545; }

/*Fin Navbar Exchange*/
.mobile {
  display: none; }

.exchange__nav__mobile {
  display: flex;
  justify-content: space-around;
  background-color: #faf9fa;
  position: absolute;
  width: 100%;
  bottom: 0%; }
  .exchange__nav__mobile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 6px; }
    .exchange__nav__mobile__container__text {
      font-size: 12px; }
    .exchange__nav__mobile__container__on {
      color: #dc3545; }
    .exchange__nav__mobile__container:hover {
      background-color: #e1ebe48a;
      border-radius: 1rem; }

/*responsive Navbar*/
@media only screen and (max-width: 1024px) {
  .exchange__nav__bar__logo {
    margin-right: 0px; }
  .exchange__nav__bar__logo__img {
    height: 32px;
    margin-right: 0px; }
  .exchange__nav__bar__logo__pokedex {
    display: none; } }

@media only screen and (max-width: 1024px) and (max-width: 767px) {
  .exchange__nav__bar__info, .exchange__nav__bar__trade, .exchange__nav__bar__nft {
    display: none; }
  .mobile {
    display: block; } }

/*Fin responsive Navbar*/
/*Generales*/
/*Variables para header*/
.wallet {
  display: none;
  border: solid #e7e3eb 1.5px; }
  .wallet .wallet__fondo {
    background-color: rgba(0, 0, 0, 0.267);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wallet .wallet__fondo .wallet__container {
      background-color: #faeded;
      width: 342px;
      height: 486px;
      border-radius: 2rem; }
  .wallet__encabezado {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #dc3545;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: 10px; }
    .wallet__encabezado__connect {
      font-size: 20px;
      color: white; }
    .wallet__encabezado__close {
      cursor: pointer; }
  .wallet__grid {
    display: grid;
    grid-template-columns: auto auto; }
    .wallet__grid__item {
      margin: 2rem 2rem 2rem 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
      .wallet__grid__item:hover {
        opacity: 0.5;
        transition: 0.3s; }
      .wallet__grid__item__img {
        width: 40px;
        height: 40px; }
      .wallet__grid__item__text {
        width: max-content; }
      .wallet__grid__item__more {
        padding-top: 9px; }
        .wallet__grid__item__more__text {
          margin-top: 5px; }
  .wallet__bot {
    border-top: #e7e3eb solid 1.5px; }
    .wallet__bot__text {
      text-align: center;
      margin-top: 20px; }
    .wallet__bot__button {
      background-color: #dc3545;
      border-radius: 1rem;
      color: white;
      border: none;
      width: 80%;
      padding: 0.5rem;
      font-weight: bold; }
      .wallet__bot__button:hover {
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer; }

/*Misc*/
* {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem; }

/*Generales*/
/*Variables para header*/
* {
  margin: 0px; }
