/*Views*/
.background__container__home {
  background-image: url(../img/fondo-index-noche.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.home__gameboy {
  left: 15.25%;
  top: 3%;
  position: absolute;
  width: 69.5%; }

/* codigo carrusel de w3school*/
.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  /* Next & previous buttons */ }
  .slideshow-container .screen {
    width: 30%;
    margin-top: 12.5%;
    margin-left: 34.5%;
    border-radius: 1rem;
    border: solid black 6px; }
  .slideshow-container .arrow {
    cursor: pointer;
    position: absolute;
    color: #828282;
    background-color: #828282;
    left: 24%;
    top: 62.5%;
    border: none;
    text-decoration: none; }
    .slideshow-container .arrow:hover {
      color: #444444;
      background-color: #444444; }
  .slideshow-container .up {
    top: 55.5%;
    padding: 0.6% 1%;
    border-radius: 15% 15% 0 0;
    border-bottom: none;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black; }
  .slideshow-container .down {
    padding: 0.6% 1%;
    top: 69.5%;
    border-radius: 0 0 15% 15%;
    border-bottom: solid 1.5px black;
    border-top: none;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black; }
  .slideshow-container .next {
    padding: 0.6% 1.2% 0.6% 1%;
    left: 26%;
    border-radius: 0 15% 15% 0;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: none;
    border-right: solid 1.5px black; }
  .slideshow-container .prev {
    padding: 0.6% 1%;
    left: 22%;
    border-radius: 15% 0 0 15%;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: none; }
  .slideshow-container .enter {
    padding: 0.7% 1%; }
    .slideshow-container .enter:hover {
      color: #828282;
      background-color: #828282; }
  .slideshow-container .button__ab {
    background-color: #828282;
    border-radius: 50%;
    padding: 1.5%;
    text-decoration: none;
    color: #646464;
    position: absolute; }
    .slideshow-container .button__ab:hover {
      background-color: #646464;
      color: black; }
    .slideshow-container .button__ab__a {
      top: 52%;
      left: 76%; }
    .slideshow-container .button__ab__b {
      top: 62%;
      left: 71%; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

/*Partials*/
/*Misc*/
* {
  margin: 0px; }
