/*Views*/
.background__container__pool {
  background-color: #d4effc; }

/*Generales*/
/*Variables para header*/
.bg-white {
  background-color: #faf9fa; }

/*red*/
.bg-red {
  background-color: #dc3545; }

.red {
  color: #dc3545 !important; }

.red-b {
  border-bottom: #dc3545 solid 3px !important; }

.bg-red-ligth {
  background-color: #faeded; }

/*green*/
.bg-green {
  background-color: #1ebd1e; }

.green {
  color: #1ebd1e !important; }

.green-b {
  border-bottom: #1ebd1e solid 3px !important; }

.bg-green-ligth {
  background-color: #9efa9e; }

/*yellow*/
.bg-yellow {
  background-color: gold; }

.yellow {
  color: gold !important; }

.yellow-b {
  border-bottom: gold solid 3px !important; }

.bg-yellow-ligth {
  background-color: #FFFFE0; }

/*blue*/
.bg-blue {
  background-color: #0dcaf0; }

.blue {
  color: #0dcaf0 !important; }

.blue-b {
  border-bottom: #0dcaf0 solid 3px !important; }

.bg-blue-ligth {
  background-color: #d4effc; }

.background__container__liquidity {
  background-color: #FFFFE0; }

.liquidity__pikachu {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 130px; }

.liquidity__pikachu__trader {
  display: flex;
  justify-content: end; }
  .liquidity__pikachu__trader__img {
    width: 20%; }
  .liquidity__pikachu__trader__globo {
    text-align: end; }
    .liquidity__pikachu__trader__globo__img {
      width: 20%;
      margin-top: 4%; }
      .liquidity__pikachu__trader__globo__img:hover {
        cursor: pointer;
        opacity: 0.1;
        transition: 0.2s; }

.liquidity {
  display: flex;
  justify-content: center; }
  .liquidity__container {
    border: #e7e3eb solid 1px;
    background-color: white;
    border-radius: 1.3rem;
    width: 436px;
    height: 273px;
    margin-top: 144px; }
    .liquidity__container__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
      border-bottom: #e7e3eb solid 1px; }
      .liquidity__container__top__icon:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.3s; }
      .liquidity__container__top__h1 {
        font-size: 2rem; }
    .liquidity__container__middle {
      border-bottom: #e7e3eb solid 1px;
      padding: 1.5rem;
      background-color: #e0e0ba9f; }
    .liquidity__container__bot {
      text-align: center;
      margin-top: 1rem; }
      .liquidity__container__bot__btn {
        width: 80%;
        padding: 0.7rem;
        border-radius: 1rem;
        border: none;
        background-color: gold;
        color: white; }
        .liquidity__container__bot__btn:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: 0.3s; }

/*Generales*/
/*Variables para header*/
.bg-white {
  background-color: #faf9fa; }

/*red*/
.bg-red {
  background-color: #dc3545; }

.red {
  color: #dc3545 !important; }

.red-b {
  border-bottom: #dc3545 solid 3px !important; }

.bg-red-ligth {
  background-color: #faeded; }

/*green*/
.bg-green {
  background-color: #1ebd1e; }

.green {
  color: #1ebd1e !important; }

.green-b {
  border-bottom: #1ebd1e solid 3px !important; }

.bg-green-ligth {
  background-color: #9efa9e; }

/*yellow*/
.bg-yellow {
  background-color: gold; }

.yellow {
  color: gold !important; }

.yellow-b {
  border-bottom: gold solid 3px !important; }

.bg-yellow-ligth {
  background-color: #FFFFE0; }

/*blue*/
.bg-blue {
  background-color: #0dcaf0; }

.blue {
  color: #0dcaf0 !important; }

.blue-b {
  border-bottom: #0dcaf0 solid 3px !important; }

.bg-blue-ligth {
  background-color: #d4effc; }

.background__container__exchange {
  background-color: #faeded; }

.swap__container {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.815); }
  .swap__container .swap {
    border: solid #e7e3eb 2px;
    width: 326px;
    height: 535px;
    margin-top: 2.2%;
    background-color: #faf9fa;
    border-radius: 1.7rem;
    text-align: center; }
    .swap__container .swap__top {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      border-bottom: solid #e7e3eb 2px; }
      .swap__container .swap__top__dirrection {
        display: flex;
        justify-content: space-between; }
        .swap__container .swap__top__dirrection__span:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: 0.3s; }
      .swap__container .swap__top__text {
        margin-left: 50px;
        font-size: 1.2rem; }
    .swap__container .swap__middle {
      padding: 2rem; }
      .swap__container .swap__middle__token {
        display: flex; }
        .swap__container .swap__middle__token:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: 0.3s; }
        .swap__container .swap__middle__token__img {
          height: 25px;
          width: 25px; }
      .swap__container .swap__middle__amount {
        width: 90%;
        border: solid 2px #e7e3eb;
        background-color: #faeded;
        border-radius: 1rem;
        padding: 1rem;
        text-align: end; }
      .swap__container .swap__middle__arrow {
        background-color: #faeded;
        border-radius: 50%;
        margin: 1rem;
        padding: 5px; }
        .swap__container .swap__middle__arrow:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: 0.3s; }
    .swap__container .swap__bot {
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
      margin-right: 10px;
      padding: 1rem; }
      .swap__container .swap__bot__sli {
        font-size: small; }
      .swap__container .swap__bot__p {
        font-weight: bold;
        color: #dc3545; }
      .swap__container .swap__bot__btn {
        width: 100%;
        background-color: #dc3545;
        border-radius: 1rem;
        color: white;
        border: none;
        padding: 0.3rem;
        font-size: 1.1rem;
        margin-top: 1rem; }
        .swap__container .swap__bot__btn:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: 0.3s; }

.help {
  display: flex;
  justify-content: end; }
  .help__img {
    width: 20%; }
  .help__text {
    background-color: #ff4800;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    margin-left: 4%;
    margin-top: 0.6%;
    border-top: solid 3px #ffce00;
    border-left: solid 3px #ffce00;
    color: #ffce00; }
    .help__text:hover {
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s; }

.background__container__farm {
  background-color: #faf9fa; }

.farm__titulo {
  display: flex;
  justify-content: space-around; }
  .farm__titulo__left {
    margin-top: 2rem; }
    .farm__titulo__left h1 {
      font-size: 4rem; }
    .farm__titulo__left div {
      font-size: 1.8rem; }
  .farm__titulo__img {
    height: 240px; }

.farm__container {
  display: flex;
  justify-content: center;
  margin: 2rem; }
  .farm__container__top {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .farm__container__top__left {
      display: flex; }
      .farm__container__top__left div {
        padding: 0 1rem 0 0.1rem; }
        .farm__container__top__left div:hover {
          opacity: 0.5;
          transition: 0.3s;
          cursor: pointer; }
      .farm__container__top__left__live__finished {
        display: flex;
        align-items: center;
        border-radius: 2rem; }
        .farm__container__top__left__live__finished__on {
          border-radius: 2rem;
          padding: 0.2rem 1rem 0.2rem 1rem;
          margin-right: 3px; }
    .farm__container__top__rigth {
      display: flex; }
      .farm__container__top__rigth__item {
        margin: 0 5px 0 5px; }
        .farm__container__top__rigth__item div {
          font-size: 0.7rem;
          margin-left: 0.5rem; }
        .farm__container__top__rigth__item__select {
          border-radius: 1rem;
          border: #e7e3eb 1px solid;
          padding: 0.4rem; }

.background__container__home {
  background-image: url(../img/fondo-index-noche.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.home__gameboy {
  left: 15.25%;
  top: 3%;
  position: absolute;
  width: 69.5%; }

/* codigo carrusel de w3school*/
.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  /* Next & previous buttons */ }
  .slideshow-container .screen {
    width: 30%;
    margin-top: 12.5%;
    margin-left: 34.5%;
    border-radius: 1rem;
    border: solid black 6px; }
  .slideshow-container .arrow {
    cursor: pointer;
    position: absolute;
    color: #828282;
    background-color: #828282;
    left: 24%;
    top: 62.5%;
    border: none;
    text-decoration: none; }
    .slideshow-container .arrow:hover {
      color: #444444;
      background-color: #444444; }
  .slideshow-container .up {
    top: 55.5%;
    padding: 0.6% 1%;
    border-radius: 15% 15% 0 0;
    border-bottom: none;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black; }
  .slideshow-container .down {
    padding: 0.6% 1%;
    top: 69.5%;
    border-radius: 0 0 15% 15%;
    border-bottom: solid 1.5px black;
    border-top: none;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black; }
  .slideshow-container .next {
    padding: 0.6% 1.2% 0.6% 1%;
    left: 26%;
    border-radius: 0 15% 15% 0;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: none;
    border-right: solid 1.5px black; }
  .slideshow-container .prev {
    padding: 0.6% 1%;
    left: 22%;
    border-radius: 15% 0 0 15%;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: none; }
  .slideshow-container .enter {
    padding: 0.7% 1%; }
    .slideshow-container .enter:hover {
      color: #828282;
      background-color: #828282; }
  .slideshow-container .button__ab {
    background-color: #828282;
    border-radius: 50%;
    padding: 1.5%;
    text-decoration: none;
    color: #646464;
    position: absolute;
    border: solid 1.5px black; }
    .slideshow-container .button__ab:hover {
      background-color: #646464;
      color: black; }
    .slideshow-container .button__ab__a {
      top: 52%;
      left: 76%; }
    .slideshow-container .button__ab__b {
      top: 62%;
      left: 71%; }

#play, #pause {
  border-radius: 50%;
  position: absolute;
  padding: 0.6%;
  background-color: #828282;
  font-weight: bold; }

#play {
  left: 28.5%;
  top: 92%; }

#pause {
  left: 28.5%;
  top: 105%; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

/*Partials*/
/*Generales*/
/*Variables para header*/
.bg-white {
  background-color: #faf9fa; }

/*red*/
.bg-red {
  background-color: #dc3545; }

.red {
  color: #dc3545 !important; }

.red-b {
  border-bottom: #dc3545 solid 3px !important; }

.bg-red-ligth {
  background-color: #faeded; }

/*green*/
.bg-green {
  background-color: #1ebd1e; }

.green {
  color: #1ebd1e !important; }

.green-b {
  border-bottom: #1ebd1e solid 3px !important; }

.bg-green-ligth {
  background-color: #9efa9e; }

/*yellow*/
.bg-yellow {
  background-color: gold; }

.yellow {
  color: gold !important; }

.yellow-b {
  border-bottom: gold solid 3px !important; }

.bg-yellow-ligth {
  background-color: #FFFFE0; }

/*blue*/
.bg-blue {
  background-color: #0dcaf0; }

.blue {
  color: #0dcaf0 !important; }

.blue-b {
  border-bottom: #0dcaf0 solid 3px !important; }

.bg-blue-ligth {
  background-color: #d4effc; }

/*general*/
.nav {
  display: flex;
  border-bottom: #e7e3eb solid 1px;
  justify-content: space-between; }
  .nav__bar {
    display: flex; }
    .nav__bar__hover {
      padding: 12px; }
      .nav__bar__hover:hover {
        background-color: #e1ebe48a;
        border-radius: 1rem;
        cursor: pointer; }
      .nav__bar__hover__link {
        text-decoration: none;
        color: black; }
        .nav__bar__hover__link__on {
          font-weight: bold; }
    .nav__bar__logo {
      text-decoration: none;
      color: black;
      display: flex;
      margin-left: 1rem;
      margin-right: 2.5rem;
      padding: 12px; }
      .nav__bar__logo__img {
        height: 27px;
        margin-right: 2px; }
      .nav__bar__logo__pokedex {
        font-weight: bold;
        font-size: 22px;
        font-family: pokemon; }
    .nav__bar__language {
      margin-top: 13px;
      margin-right: 15px; }
      .nav__bar__language:hover {
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer; }
    .nav__bar__settings {
      margin-top: 13px;
      margin-right: 5px; }
      .nav__bar__settings:hover {
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer; }
    .nav__bar__wallet {
      padding: 12px; }
      .nav__bar__wallet__button {
        color: #e7e3eb;
        border: none;
        border-radius: 2rem;
        width: 135px;
        cursor: pointer; }
        .nav__bar__wallet__button:hover {
          opacity: 0.5;
          transition: 0.3s;
          cursor: pointer; }

body header nav div div {
  margin-top: 2px;
  margin-bottom: 2px; }

@font-face {
  font-family: pokemon;
  src: url(../letras/ketchum.otf); }

.nav__bar__dropdown {
  display: none;
  position: absolute;
  width: 278px;
  border: #e7e3eb solid 1px;
  color: black;
  border-radius: 1rem; }
  .nav__bar__dropdown__link {
    text-decoration: none;
    color: black; }
  .nav__bar__dropdown__div__top {
    padding: 10px; }
    .nav__bar__dropdown__div__top:hover {
      background-color: #e1ebe48a;
      border-radius: 0.8rem 0.8rem 0 0; }
  .nav__bar__dropdown__div__bot {
    padding: 10px; }
    .nav__bar__dropdown__div__bot:hover {
      background-color: #e1ebe48a;
      border-radius: 0 0 0.8rem 0.8rem; }

.nav__bar__trade:hover .nav__bar__dropdown {
  display: block;
  background-color: #faf9fa; }

.language__dropdown {
  display: none;
  position: absolute;
  padding: 1rem;
  left: 86%;
  border-radius: 0 0 0.5rem 0.5rem;
  border: #e7e3eb solid 1px; }
  .language__dropdown__text {
    padding: 10px; }
    .language__dropdown__text:hover {
      opacity: 0.5;
      transition: 0.3s;
      cursor: pointer; }

.language:hover .language__dropdown {
  display: block;
  background-color: #faf9fa; }

/*SubNav*/
.subnav {
  display: flex;
  border-bottom: #e7e3eb solid 1px;
  justify-content: center;
  margin-top: 33px; }
  .subnav__h2 {
    padding: 12px 0px 3px 0px;
    margin-left: 10px;
    margin-right: 10px; }
    .subnav__h2:hover {
      background-color: #e1ebe48a; }
  .subnav__link {
    text-decoration: none;
    color: black; }

/*Fin Navbar Exchange*/
.mobile {
  display: none;
  position: fixed;
  bottom: 0%;
  width: 100%; }

.nav__mobile {
  display: flex;
  justify-content: space-around; }
  .nav__mobile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 6px; }
    .nav__mobile__container__text {
      font-size: 12px; }
    .nav__mobile__container:hover {
      background-color: #e1ebe48a;
      border-radius: 1rem; }

/*responsive Navbar*/
@media only screen and (max-width: 1024px) {
  .nav__bar__logo {
    margin-right: 0px; }
  .nav__bar__logo__img {
    height: 32px;
    margin-right: 0px; }
  .nav__bar__logo__pokedex {
    display: none; } }

@media only screen and (max-width: 1024px) and (max-width: 767px) {
  .nav__bar__info, .nav__bar__trade, .nav__bar__nft {
    display: none; }
  .mobile {
    display: block; }
  .footer__none {
    display: none; }
  .help {
    justify-content: center; }
    .help__img {
      width: 60%; }
    .help__text {
      margin-left: 12%;
      margin-top: 4%; }
  .swap {
    margin-bottom: 40px; } }

/*Fin responsive Navbar*/
/*fin general*/
/*footer exchange*/
.footer {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  display: flex;
  justify-content: space-between;
  padding: 3%;
  align-items: center; }
  .footer__a__img {
    width: 250px; }
  .footer__strategic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 11%; }
    .footer__strategic__img {
      border-radius: 2rem;
      width: 200px; }
    .footer__strategic__text {
      font-size: 1.6rem;
      color: white;
      margin-bottom: 8%; }

/*Generales*/
/*Variables para header*/
.bg-white {
  background-color: #faf9fa; }

/*red*/
.bg-red {
  background-color: #dc3545; }

.red {
  color: #dc3545 !important; }

.red-b {
  border-bottom: #dc3545 solid 3px !important; }

.bg-red-ligth {
  background-color: #faeded; }

/*green*/
.bg-green {
  background-color: #1ebd1e; }

.green {
  color: #1ebd1e !important; }

.green-b {
  border-bottom: #1ebd1e solid 3px !important; }

.bg-green-ligth {
  background-color: #9efa9e; }

/*yellow*/
.bg-yellow {
  background-color: gold; }

.yellow {
  color: gold !important; }

.yellow-b {
  border-bottom: gold solid 3px !important; }

.bg-yellow-ligth {
  background-color: #FFFFE0; }

/*blue*/
.bg-blue {
  background-color: #0dcaf0; }

.blue {
  color: #0dcaf0 !important; }

.blue-b {
  border-bottom: #0dcaf0 solid 3px !important; }

.bg-blue-ligth {
  background-color: #d4effc; }

/* Wallet exchange*/
.wallet {
  display: none;
  border: solid #e7e3eb 1.5px; }
  .wallet .wallet__fondo {
    background-color: rgba(0, 0, 0, 0.267);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wallet .wallet__fondo .wallet__container {
      width: 342px;
      height: 486px;
      border-radius: 2rem; }
  .wallet__encabezado {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: 10px; }
    .wallet__encabezado__connect {
      font-size: 20px;
      color: white; }
    .wallet__encabezado__close {
      cursor: pointer; }
  .wallet__grid {
    display: grid;
    grid-template-columns: auto auto; }
    .wallet__grid__item {
      margin: 2rem 2rem 2rem 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
      .wallet__grid__item:hover {
        opacity: 0.5;
        transition: 0.3s; }
      .wallet__grid__item__img {
        width: 40px;
        height: 40px; }
      .wallet__grid__item__text {
        width: max-content; }
      .wallet__grid__item__more {
        padding-top: 9px; }
        .wallet__grid__item__more__text {
          margin-top: 5px; }
  .wallet__bot {
    border-top: #e7e3eb solid 1.5px; }
    .wallet__bot__text {
      text-align: center;
      margin-top: 20px; }
    .wallet__bot__button {
      border-radius: 1rem;
      color: white;
      border: none;
      width: 80%;
      padding: 0.5rem;
      font-weight: bold; }
      .wallet__bot__button:hover {
        opacity: 0.5;
        transition: 0.3s;
        cursor: pointer; }

/*Fin Wallet exchange*/
/*Misc*/
* {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem; }

/*Generales*/
/*Variables para header*/
.bg-white {
  background-color: #faf9fa; }

/*red*/
.bg-red {
  background-color: #dc3545; }

.red {
  color: #dc3545 !important; }

.red-b {
  border-bottom: #dc3545 solid 3px !important; }

.bg-red-ligth {
  background-color: #faeded; }

/*green*/
.bg-green {
  background-color: #1ebd1e; }

.green {
  color: #1ebd1e !important; }

.green-b {
  border-bottom: #1ebd1e solid 3px !important; }

.bg-green-ligth {
  background-color: #9efa9e; }

/*yellow*/
.bg-yellow {
  background-color: gold; }

.yellow {
  color: gold !important; }

.yellow-b {
  border-bottom: gold solid 3px !important; }

.bg-yellow-ligth {
  background-color: #FFFFE0; }

/*blue*/
.bg-blue {
  background-color: #0dcaf0; }

.blue {
  color: #0dcaf0 !important; }

.blue-b {
  border-bottom: #0dcaf0 solid 3px !important; }

.bg-blue-ligth {
  background-color: #d4effc; }

* {
  margin: 0px; }
