/*Incio Swap*/

.Swap__Container{
    border: 1px solid rgb(231, 227, 235);
    width: 328px;
    /*height: 518px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20%;
    margin-top: 100px;
}
.Swap__Titulo__Completo{
    border-bottom: 1px solid rgb(231, 227, 235);
    padding: 24px;
    text-align: center;
}
.Swap__Titulo{
    display: flex;
    justify-content: space-between;

}
.Swap__Icono{
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
}
.Swap__Titulo__Swap{
    margin-left: 65px;
}
.Swap__Option{
    display: flex;
    justify-content: space-between;
}
.Swap__Container__Option{
    padding: 24px;
}
.Swap__Container__Amount{
    background-color: #eededa;
    border-radius: 10px;        
}
.Swap__Max{
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px 12px 16px;
}
.Swap__Max__Estilo{
    border: solid 1px rgb(40, 13, 95);
    border-radius: 5px;
}
.Swap__Amount__0{
    width: 100%;
    text-align: right;
    border: none;
    background-color: #eededa ;
}
.Swap__Button{
    text-align: center;
}
.Swap__Button__Arrow{
    border: none;
    font-size: 30px;
    padding: 12px 0px 12px 0px;
    background-color: white;
}
.Swap__Container__Sli{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 34px 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.Swap__Button__Swap{
    width: 100%;
    border-radius: 16px;
    padding: 10px 24px 10px 24px;
    font-size: 16px;
}
/*Pika trader inicio*/
article img{
    width: 10%;
}
/*Pika trader fin*/


/*Fin Swap*/

.Carrusel1{

}