*{
    margin: 0;
    padding: 0;
    /*background-color: rgb(218, 246, 255);*/
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: #eededa;
}
/* Titulo*/
.Titulo{
    text-align: center;
    background-color: red;
    border-radius: 20px;
    width: 30%;
    margin-left: 600px;
}
/*fin*/


/* Inicio barra navegación*/
.Menu__Container{
    background-color: white;
    border: rgba(133, 133, 133, 0.1) solid 2px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    position: fixed;
}
.Menu__Container__Nav{
    display: flex;
}
.Menu__Logo{ 
    width: 120px;   
}
.Menu__Container__Rigth{
    display: flex;
}
.Menu__Icono{
    background-color: white;
    border: none;
    font-size: 20px;
    color: rgb(222, 37, 73);
    cursor: pointer;
}
.Menu__Button__Wallet{
    background-color: rgb(222, 37, 73);
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
/*Fin Barra Navegación*/

/*Inicio SubMenu Exchange*/
.Menu__Left{
    background-color: white;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
    padding-top: 10px;
    height: 900px;
    position: fixed;
    border: rgba(133, 133, 133, 0.1) solid 0px 2px 2px 2px;
    margin-top: 65px;
}
.Menu__Left__Estilo{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}
.Menu__Left__Estilo2{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-top: 20px;
}
.Display{
    display: flex;
}

.Menu__Left__Icono{
    padding: 15px;
}
.Dromsi{
    margin-top: 54px;
    left: -150px;
    position: fixed;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    height: 900px;
    transition: left 0.7s;
    padding-bottom: 10px;
    border: rgba(133, 133, 133, 0.1) solid 0px 2px 2px 2px;
}
.checkbox:checked ~ .Dromsi{
    left: 55px;
}
.Menu__Left__Animation:hover {
    background-color: rgb(180, 180, 180);
}

.checkbox:checked ~ .Menu__Left__Absolute{
    left: 15%;
}
.Menu__Left__Switch__On{
    border-left: 3px red solid;
}

/*Fin SubMenu*/

/*Incio Swap*/

.Swap__Container{
    border: 1px solid rgb(231, 227, 235);
    width: 328px;
    height: 518px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20%;
    margin-top: 5%;
}
.Swap__Titulo__Completo{
    border-bottom: 1px solid rgb(231, 227, 235);
    padding: 24px;
    text-align: center;
}
.Swap__Titulo{
    display: flex;
    justify-content: space-between;

}
.Swap__Icono{
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
}
.Swap__Titulo__Swap{
    margin-left: 65px;
}
.Swap__Option{
    display: flex;
    justify-content: space-between;
}
.Swap__Container__Option{
    padding: 24px;
}
.Swap__Container__Amount{
    background-color: #eededa;
    border-radius: 10px;        
}
.Swap__Max{
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px 12px 16px;
}
.Swap__Max__Estilo{
    border: solid 1px rgb(40, 13, 95);
    border-radius: 5px;
}
.Swap__Amount__0{
    width: 100%;
    text-align: right;
    border: none;
    background-color: #eededa ;
}
.Swap__Button{
    text-align: center;
}
.Swap__Button__Arrow{
    border: none;
    font-size: 30px;
    padding: 12px 0px 12px 0px;
    background-color: white;
}
.Swap__Container__Sli{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 34px 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.Swap__Button__Swap{
    width: 100%;
    border-radius: 16px;
    padding: 10px 24px 10px 24px;
    font-size: 16px;
}
/*Pika trader inicio*/
article img{
    width: 10%;
}
/*Pika trader fin*/


/*Fin Swap*/

/*incio Footer*/

.Footer__Fondo{
    background-color: rgb(36, 37, 51);
    text-align: center;
    margin-top: 3%;
}
.Footer__Social{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.Footer__Estilo{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.ImgCoder{
    border-radius: 20px;
    width: 200px;
    height: 100px ;
}
.ImgNintendo{
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
/*Fin Footer*/

/* Incio Farms */
/*Inicio Farms encabezado*/

.EncabezadoFarms{
    padding: 50px;
    background-color: rgb(133, 204, 228);
}
/*Fin Farms encabezado*/
/*Inicio Famrs*/
.Farm__Container{
    display: flex;
    justify-content: space-around;
}
.ArticleFarm{
    background-color: rgb(240, 248, 255);
    text-align: center;
    margin-top: 3%;
}
.FarmRecuadro{
    border: solid;
    border-radius: 15px;
    background-color: rgb(220, 10, 45);
    width: 450px;
}
.ParLP{
    width: 25%;
    border: 5px;
    margin: 5px;
    margin-right: 100px;
    
}
.FarmPar{
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: green;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
}
.FarmTitulo{
    vertical-align: middle;
    padding-bottom: 15px;
}
.FarmPantalla{
    color: green;
    background-color: #000000;
    margin: 20px;
    border: solid grey 17px;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    font-family: 'Digital Numbers', sans-serif;
}
.FarmL{
    margin-right: 100px;
}
.FarmR{
    margin-left: 100px;
}
.FarmL2{
    margin-right: 70px;
}
.FarmR2{
    margin-left: 70px;
}
.FarmApr{
    padding-top: 5px;
    margin-bottom: 5px;
}
.FarmEarn{
    padding-top: 10px;
    padding-bottom: 20px;
}
.FarmEarned{
    font-weight: bold;
}
.FarmL3{
    margin-right: 120px;
}
.FarmR3{
    margin-left: 70px;
}
.Harvest{
    background-color: #000000;
    color: green;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Digital Numbers', sans-serif;
}
.FarmEnabeleContract{
    background-color: #000000;
    color: green;
    font-family: 'Digital Numbers', sans-serif;
    padding: 15px 70px 15px 70px;
    border-radius: 15px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1000px){
    .Farm__Container{
        flex-direction: column;
    }
    .FarmRecuadro{
        margin-left: auto;
        margin-right: auto;
    }
}
/*Fin Farms*/

/*.BackIMG{
    background-image: url(../imagenes/FinalPokemoEsmeralda.jpg);
}*/
.BackIMG1{
    background-image: url(../imagenes/Fondo\ negro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.BackIMG2{
    background-image: url(../imagenes/FondoPokemonArceus.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
 .BackIMG3{
    background-image: url(../imagenes/fondo__negro__pelotitas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
 }
.BackIMG4{
    background-image: url(../imagenes/FondoPokexOpen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}


 /* Inicio Pagina NFT*/
.NFT__Container__Background{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    padding: 50px;
}
.NFT__Container{
    color: aliceblue;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 20px;
}
.NFT__Container__Collections{
    border: 10px #DC0A2D solid;
    width: 340px;
    border-radius: 20px 20px 10px 80px;
    background-color: #DC0A2D;
}
.NFT__Fondo__Collection{
    width: 325px;
    border-radius: 20px;
    position: absolute;
    border: solid grey 4px;
}
.NFT__Container__Collections__Sub{
    display: flex;
    margin-top: 102px;
    justify-content: space-between;
    background-color: grey;
    border-radius: 20px 0px 5px 70px;
}
.NFT__Icono{
    width: 110px;
    position: relative;
    border: solid white 5px;
    border-radius: 50%;

}
.NFT__COllections__Estilo{
    background-color: #000000;
    color: green;
    margin-right: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 55px;
}

 /* Fin pagina NFT*/

/*Comienzo cuadro Pagina Incial*/

.Item{
    border-radius: 40px;
    font-family: 'Fredoka', sans-serif;
}
.Item1{ grid-area: Header;
    background-image: url(../imagenes/Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    padding: 100px;
    }
    .Item2{ grid-area: NFT;
    background-image: url(../imagenes/Venasur.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    }
    .Item3{ grid-area: TVL;
        background-color: #000000;
        color: aliceblue;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
    }
    .Item4{ grid-area: Farm;
    background-image: url(../imagenes/Charizard.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
    padding: 70px 0px 130px 0px;
    }
    .Item5{ grid-area: Pool;
    background-image: url(../imagenes/Blastoid.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    color: aliceblue;
    padding: 70px 0px 130px 0px;
    }
    .Item6{ grid-area: Info;
    background-color: black;
    color: aliceblue;
    padding-top: 10px;
    }
    .Item7{ grid-area: Twitter;
    background-color: black;
    color: white;
    }
    .Item__Relleno{
        background-image: url(../imagenes/Iniciales.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .Grid__Container{
        text-align: center;
        display: grid;
        grid-template-areas:    
                'Header Header Header Header Header Header Header Header'
                'NFT NFT NFT TVL TVL TVL TVL TVL'
                'NFT NFT NFT Farm Farm x Pool Pool'
                'Info Info Info Info Twitter Twitter Twitter Twitter';
        row-gap: 20px;
        column-gap: 10px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Item__Titulo{
        font-size: 50px;
        font-weight: 1200;
    }
    .Item__Sub{
        font-size: 30px;
        font-weight: 1200;
    }
    .Item__NFT{
        width: 100px;
        padding: 5px;
        border-radius: 15px;
    }
    .Item__NFT__Button{
        background-color: #000000;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        color: green;
    }
    .Item__Stats{
        display: flex;
        justify-content: space-around;
        padding: 30px;
        font-weight: bold;
    }
    @media only screen and (max-width: 1100px){

        .Item{
            border-radius: 40px;
            font-family: 'Fredoka', sans-serif;
        }
        .Item1{ grid-area: Header;
            background-image: url(../imagenes/Header.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
            padding: 100px;
            }
            .Item2{ grid-area: NFT;
            background-image: url(../imagenes/Venasur.png);
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
            font-size: 30px;
            font-weight: bold;
            padding-top: 100px;
            padding-bottom: 100px;
            }
            .Item3{ grid-area: TVL;
            background-color: #000000;
            color: aliceblue;
            padding-top: 200px;
            font-weight: bold;
            }
            .Item4{ grid-area: Farm;
            background-image: url(../imagenes/Charizard.png);
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
            font-weight: bold;
            padding: 150px 0px 130px 0px;
            }
            .Item5{ grid-area: Pool;
            background-image: url(../imagenes/Blastoid.png);
            background-repeat: no-repeat;
            background-size: cover;
            font-weight: bold;
            color: aliceblue;
            padding: 150px 0px 130px 0px;
            }
            .Item6{ grid-area: Info;
            background-color: black;
            color: aliceblue;
            padding-top: 10px;
            }
            .Item7{ grid-area: Twitter;
            background-color: black;
            color: white;
            }
            .Item__Relleno{
                background-image: url(../imagenes/Iniciales.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 40px;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .Grid__Container{
                text-align: center;
                display: grid;
                grid-template-areas:    
                        'Header Header Header Header'
                        'NFT NFT TVL TVL'
                        'Farm Farm Pool Pool'
                        'Info Info Twitter Twitter';
                row-gap: 20px;
                column-gap: 10px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .Item__Titulo{
                font-size: 50px;
                font-weight: 1200;
            }
            .Item__Sub{
                font-size: 30px;
                font-weight: 1200;
            }
            .Item__NFT{
                width: 100px;
                padding: 5px;
                border-radius: 15px;
            }
            .Item__NFT__Button{
                background-color: #000000;
                border-radius: 10px;
                padding: 10px;
                font-size: 20px;
                color: green;
            }
            .Item__Stats{
                display: flex;
                justify-content: space-around;
                padding: 30px;
                font-weight: bold;
            }

    }
    @media only screen and (max-width: 520px)
    {

        .Item{
            border-radius: 40px;
            font-family: 'Fredoka', sans-serif;
        }
        .Item1{ grid-area: Header;
            background-image: url(../imagenes/Header\ -\ copia.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
            padding: 100px;
            }
            .Item2{ grid-area: NFT;
            background-image: url(../imagenes/Venasur.png);
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
            font-size: 30px;
            font-weight: bold;
            padding-top: 150px;
            padding-bottom: 150px;
            }
            .Item3{ grid-area: TVL;
            background-color: #000000;
            color: aliceblue;
            padding-top: 200px;
            padding-bottom: 200px;
            font-weight: bold;
            }
            .Item4{ grid-area: Farm;
            background-image: url(../imagenes/Charizard.png);
            background-repeat: no-repeat;
            background-size: cover;
            color: aliceblue;
            font-weight: bold;
            padding: 200px 0px 180px 0px;
            }
            .Item5{ grid-area: Pool;
            background-image: url(../imagenes/Blastoid.png);
            background-repeat: no-repeat;
            background-size: cover;
            font-weight: bold;
            color: aliceblue;
            padding: 200px 0px 180px 0px;
            }
            .Item6{ grid-area: Info;
            background-color: black;
            color: aliceblue;
            padding-top: 10px;
            }
            .Item7{ grid-area: Twitter;
            background-color: black;
            color: white;
            }
            .Item__Relleno{
                background-image: url(../imagenes/Iniciales.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 40px;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .Grid__Container{
                text-align: center;
                display: grid;
                grid-template-areas:    
                        'Header'
                        'NFT'
                        'TVL'
                        'Farm'
                        'Pool'
                        'Info'
                        'Twitter';
                row-gap: 20px;
                column-gap: 10px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .Item__Titulo{
                font-size: 50px;
                font-weight: 1200;
            }
            .Item__Sub{
                font-size: 30px;
                font-weight: 1200;
            }
            .Item__NFT{
                width: 100px;
                padding: 5px;
                border-radius: 15px;
            }
            .Item__NFT__Button{
                background-color: #000000;
                border-radius: 10px;
                padding: 10px;
                font-size: 20px;
                color: green;
            }
            .Item__Stats{
                display: flex;
                justify-content: space-around;
                padding: 30px;
                font-weight: bold;
            }

    }
        
    
     /*Fin Cuadro Pagina Inicial*/



