.nav {
    background-color: #faf9fa;
    display: flex;
    justify-content: space-between;
    &__bar {
        display: flex;
        & div {
            padding: 5px;
        }
        &__trade {
            position: relative;
            display: inline-block;
            &__button {
                background-color: #faf9fa;
                color: rgb(0, 0, 0);
                padding: 16px;
                border: none;
                cursor: pointer;
            }
            &__dropdown {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            &:hover .nav__bar__trade__dropdown {display: block;}
        }
    }
}
.nav__bar__trade__button:hover {
    background-color: #faf9fa; 
    cursor: pointer;
}




  

  


  
  