.collection{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/fondo-index-noche2.jpg");
    background-size: contain;
    background-position: center;
}
.collection__section{
    display: grid;
    grid-template-areas: 'auto auto auto auto'!important;
}


@media only screen and (max-width: 1024px){

    .collection__section{
        grid-template-areas: 'auto auto '!important;
    }
    .collection__mobile{
        display: none;
    }
    .mint-img{
        display: none;
    }
    @media only screen and (max-width: 1024px){ 
        .collection__section{
            grid-template-areas: 'auto ' !important;
        }
    }
}
