.background__container__home{
    background-image: url(../img/fondo-index-noche.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.home {
    &__gameboy {
      left: 15.25%;
      top: 3%;
      position: absolute;
      width: 69.5%;
    }
    &__gameboy__color {
      display: none;
    }
}
.gameboy__color{
  display: none;
}

/* codigo carrusel de w3school*/
.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;

  .screen {
    width: 30%; 
    margin-top: 12.5%;
    margin-left: 34.5%;
    border-radius: 1rem;
    border: solid black 6px;
  }
  /* Next & previous buttons */
  .arrow {
    cursor: pointer;
    position: absolute;
    color: #828282;
    background-color: #828282;
    left: 24%;
    top: 62.5%;
    border: none;
    text-decoration: none ;
    &:hover{
      color: rgb(68, 68, 68);
      background-color: rgb(68, 68, 68);
    }
  }
  .up {
    top: 55.5%;
    padding: 0.6% 1%;
    border-radius: 15% 15% 0 0;
    border-bottom: none;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
  }
  .down {
    padding: 0.6% 1%;
    top: 69.5%;
    border-radius: 0 0 15% 15%;
    border-bottom: solid 1.5px black;
    border-top: none;
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
  }
  .next {
    padding: 0.6% 1.2% 0.6% 1%;
    left: 26%;
    border-radius: 0 15% 15% 0;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: none;
    border-right: solid 1.5px black;
  }
  .prev {
    padding: 0.6% 1%;
    left: 22%;
    border-radius: 15% 0 0 15%  ;
    border-bottom: solid 1.5px black;
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: none;
  }
  .enter {
    padding: 0.7% 1%;
    &:hover{
      color: #828282;
      background-color: #828282;
    }
  }
  .button__ab {
    background-color: #828282;
    border-radius: 50%;
    padding: 1.5%;
    text-decoration: none;
    color: #646464;
    position: absolute;
    border: solid 1.5px black;
    &:hover {
      background-color: #646464;
      color: black;
    }
    &__a {
      top: 52%;
      left: 76%;
    }
    &__b {
      top: 62%;
      left: 71%;
    }
  }
}
#play, #pause {
  border-radius: 50%;
  position: absolute;
  padding: 0.6%;
  background-color: #828282;
  font-weight: bold;
}
#play {
  left: 28.5%;
  top: 92%;
}
#pause {
  left: 28.5%;
  top: 105%;
}




/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.mobile__block{display: none;}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

//mind width
.header__nav__index{
  display: none;
}
@media only screen and (max-width: 1024px){

  .background__home {
    background-color: #652f8d;
  }
  .background__container__home{
    background-image: none;
  }
  .home {
    &__gameboy {
      display: none;
    }
    &__gameboy__color {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .art {
    top: 4%;
    background-image: url(../img/gameboy-colo.png);
    background-size: cover;
    width: 500px;
    height: 827px;
  }
  .button__ab {
    border-radius: 50%;
    padding: 1.5%;
    position: absolute;
    border: solid 1.5px black;
    &__a {
      top: 52%;
      left: 76%;
    }
    &__b {
      top: 62%;
      left: 71%;
    }
  }
  .slideshow-container {
    position: relative;
    margin: auto;
    .screen {
      width: 52.4%; 
      height: 238px;
      margin-top: 28.5%;
      margin-left: 23%;
      border-radius: 0.8rem;
      border: solid black 3px;
    }
  }
  .arrow {
    left: 17% !important;
    top: 69% !important;
  }
  .up {
    top: 64.5% !important;
    padding: 1.6% 2.9% !important;
  }
  .down {
    padding: 1.6% 2.9% !important;
    top: 73.5% !important;
  }
  .next {
    padding: 1.6% 0.7% 0.6% 6% !important;
    left: 24% !important;
  }
  .prev {
    padding: 1.2% 3.2% !important;
    left: 22%;
    margin: 0px 0px 0px -36px;
  }
  .enter {
    padding: 1.7% 3% !important;
  }
  .button__ab {
    border-radius: 50%;
    padding: 0.5% 4% !important;
    font-size: 2.5rem;
    &__a {
      top: 64% !important;
      left: 79% !important;
    }
    &__b {
      top: 68.5% !important;
      left: 63% !important;
    }
  }
  #play {
    left: 34.5% !important;
    top: 83% !important;
  }
  #pause {
    left: 51.5% !important;
    top: 83% !important;
  }
  @media only screen and (max-width: 767px){
    .mobile__none{
      display: none;
    }
    .header__nav__index{
      display: block;
    }
    .nav__bar__mobile{
      display: flex;
      align-items: center;
      & .container {
        margin-left: 0.5rem;
      }
    }
    .mobile__block{
      display: block;
    }
    .mobile__index{
      & div{
        display: flex;
        justify-content: end;
        margin-top: 2rem;
      }
      & img{
        width: 35%;
      }
      & h1{
        font-family: pokemon;
        font-size: 3rem;
        padding: 1rem;
        color: $red;
      }
      & h2 {
        font-size: 1.5rem;
        padding: 1rem;
      }
      & article{
        display: flex;
        justify-content: space-around;
      }
      
    }
    .btn__1{
      padding: 1rem;
      margin: 1rem;
      border-radius: 1.5rem;
      background-color: $red;
      color: white;
      border: none;
      font-size: 1.5rem;
    }
    .btn__2{
      padding: 1rem;
      margin: 1rem;
      background-color: #faeded;
      border: solid 3px $red;
      border-radius: 1.5rem;
      font-size: 1.5rem;
    }
    .background__home{
      background-color: #faeded;
    }
  }
}

