@import "../misc/variables";
.background__container__info{
    background-image: url(../img/fondo-info.gif);
    background-size: 80%;
    background-repeat: repeat-y;
    background-position: top;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2%;
    & h1 {
        font-family: pokemon;
        font-size: 5rem;
    }
    & article {
        background-color: #faf9fa23;
        border: solid 1px #e7e3eb;
        width: 90%;
        & h2 {
            border-bottom: solid 1px #e7e3eb;
            padding: 1rem;
            font-size: 1.8rem;
            font-family: gameboy;
        }
        & p {
            padding: 1rem;
            font-size: 1.5rem;
            font-family: gameboy;
        }
    }
}

@media only screen and (max-width: 1024px){
    .background__container__info{
        background-image:none;
        & img {
            display: none;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2%;
        & h1 {
            font-family: pokemon;
            font-size: 3rem;
        }
        & article {
            background-color: #faf9fa23;
            border: solid 1px #e7e3eb;
            width: auto;
            & h2 {
                border-bottom: solid 1px #e7e3eb;
                padding: 1rem;
                font-size: 1rem;
                font-family: gameboy;
            }
            & p {
                padding: 1rem;
                font-size: 0.8rem;
                font-family: gameboy;
            }
        }
}
}