@import "../misc/variables";
/*Maps*/

$colores2:(
    blue: #d4effc,
    red:#faeded,
    green:#9efa9e,
    pink: #fdd8f9,
    yellow:#FFFFE0
);

$colores:(
    blue: $blue,
    red:$red,
    green:$green,
    yellow:$yellow,
    pink: #ff83f0
);

@each $aceite, $var-colores in $colores {
    .#{$aceite}{
        color: $var-colores !important;
    }
    .bg-#{$aceite}{
        background-color: $var-colores ;
    }
    .#{$aceite}-b{
        border-bottom: $var-colores solid 3px !important;
    }   
}

@each $aceite-oliva, $var-colores2 in $colores2 {
    .bg-#{$aceite-oliva}-ligth{
        background-color: $var-colores2 ;
    }
}


/*mixins*/

@mixin var-hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}
.hover:hover {
    @include var-hover;
}
