/*Generales*/
$hover-blanco: #e1ebe48a;
$background-blanco:#faf9fa;
$border-blanco:#e7e3eb;

/*Variables para header*/

$yellow:rgb(255, 215, 0);
$red:#dc3545; 
$green:rgb(30, 189, 30);
$blue: #0dcaf0;


.bg-white{
    background-color: $background-blanco;
}
/*red*/
.bg-red {
    background-color: $red;
}
.red {
    color: $red !important;
}
.red-b{
    border-bottom: $red solid 3px !important;
}
.bg-red-ligth {
    background-color: #faeded;
}
/*green*/
.bg-green {
    background-color: $green;
}
.green {
    color: $green !important;
}
.green-b{
    border-bottom: $green solid 3px !important;
}
.bg-green-ligth {
    background-color: rgb(158, 250, 158);
}
/*yellow*/
.bg-yellow {
    background-color: $yellow;
}
.yellow {
    color: $yellow !important;
}
.yellow-b{
    border-bottom: $yellow solid 3px !important;
}
.bg-yellow-ligth {
    background-color: #FFFFE0;
}
/*blue*/
.bg-blue {
    background-color: $blue;
}
.blue {
    color: $blue !important;
}
.blue-b{
    border-bottom: $blue solid 3px !important;
}
.bg-blue-ligth {
    background-color: #d4effc;
}