
/*Generales*/
$hover-blanco: #e1ebe48a;
$background-blanco:#faf9fa;
$border-blanco:#e7e3eb;

/*Variables para header*/

$yellow:#ffd700;
$red:#dc3545; 
$green:#1ebd1e;
$blue: #0dcaf0;

.flex {
    display: flex;
}
.bg-white{
    background-color: $background-blanco;
}

/*Fuentes*/
@font-face {
    font-family: pokemon;
    src: url(../letras/ketchum.otf);
}
@font-face {
    font-family: gameboy;
    src: url(../letras/pokemon-classic.ttf);
}



